.pageContainer {
  background-color: #bfffff;
  min-height: 100vh;
  padding: 40px;
}

.hrWrapper hr {
  border: 1px solid black;
}

#idTable {
  margin-left: 10%;
}

.loginButton {
  width: 140px;
  height: 40px;
  font-size: 15px;
  cursor: pointer;
}
